@import "@fontsource/fira-code";

:root {
  font-family: 'Fira Code', monospace;
  font-size: 18px;

  --fontColor: #daffd7;
  --primary: #80fcbc;
  --primaryDark: #23573c;
  --secondary: #00F0F0;
  --tertiary: #fc719b;
  --background: #0c0c0c;
  --backgroundLight: #272727;
  --backgroundTransparent: rgba(12, 12, 12, 0.4);

  color: var(--fontColor);

  background: center no-repeat url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0px;
  margin: 0px;
  max-height: 10em;
  overflow: scroll;
}

h1 {
  font-size: 1.3em;
}

.btn {
  background-color: var(--background);
  display: inline-block;
  padding: 0.5em;
  border: 2px solid var(--primary);
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  color: var(--fontColor);
  text-decoration: none;
  font-size: 1em;
}

.btn:hover {
  box-shadow: 0px 0px 5px 2px;
  color: var(--primary);
}

@media(max-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

@media(max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

@media(max-width: 450px) {
  :root {
    font-size: 12px;
  }
}


@keyframes wave {

  0%,
  100% {
    transform: translateY(-2px);
    color: cyan;
  }

  30% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(-1px);
    color: cyan;
  }

  75% {
    transform: translateY(2px);
  }
}

@keyframes fadeCycle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}