

:root {
  font-family: 'Fira Code', monospace;

  --fontColor: #daffd7;
  --primary: white;
  --secondary: green;
  --tertiary: cyan;
  --background: #181818;
  --backgroundLight: #912e2e;

  color: var(--fontColor);

  background: center no-repeat url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0px;
  margin: 0px;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(1px);
    color: cyan;
  }
  50% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(2px);
  }
}

@keyframes fadeCycle {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}