

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(218, 255, 215);
  --primary: white;
  --secondary: green;
  --tertiary: cyan;
  background: center no-repeat url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(24, 24, 24);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0px;
  margin: 0px;
}