.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-link {
  border: 2px solid var(--backgroundLight);
  color: var(--fontColor);
  border-radius: 8px;
  padding: 0.5em;
  text-decoration: none;
}

.nav-link.active {
  color: var(--primary);
  border-color: var(--primary);
}