body {
  padding: 0px;
  margin: 0px;
  background: center no-repeat url("./assets/background.png");
  background-size: cover;
  background-attachment: fixed;
}

.basic-container {
  padding: 20px;
  margin: 10px;
  width: 95%;
  max-width: 700px;
  color: var(--theme-light);
  background-color: var(--theme-darker);
  border: 2px solid var(--theme-darkest);
  border-radius: 10px;
}

.flip-img-vertical {
  transform: scaleX(-1);
}

.text-area-input:focus {
  outline: none;
}

.proposal-input:focus {
  border: none;
  outline: none;
}

.content-word:hover {
  background-color: #750023;
  animation: fadeCycle 1s infinite;
}

.notification-container {
  animation: fadeCycle 1s infinite;
}

.search-result:hover {
  background-color: var(--theme-dark);
}

.suggestion-preview {
  -webkit-box-reflect: below -3px linear-gradient(transparent, rgba(0,0,0,.2));
  animation: fadeCycle 1s infinite;
}

.suggestion-preview span {
  display: inline-block;
  animation: wave 1.6s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes wave {
  0%, 100% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(1px);
    color: cyan;
  }
  50% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(2px);
  }
}

@keyframes fadeCycle {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: roboto-mono;
  src:  url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");
}
